<html>
    <head>
        <title>TG's BLOG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">TG's BLOG</a></h1>
        </div>

        <div>
            <p>published: 14.06.2020, 12:14</p>
            <h2><a href="">Quotes I</a></h2>
            <p>“You’re off to great places, today is your day. Your mountain is waiting, so get on
            your way.”</p>
        </div>

        <div>
            <p>published: 16.06.2020, 12:14</p>
            <h2><a href="">Quotes II</a></h2>
            <p>“No one is perfect - that’s why pencils have erasers.”</p>
        </div>

        <div>
            <p>published: 18.06.2020, 12:14</p>
            <h2><a href="">Quotes III</a></h2>
            <p>“Winning doesn’t always mean being first. Winning means you’re doing better than you’ve
            done before.”</p>
        </div>

    </body>
</html>